*
  {
    box-sizing: border-box;
    list-style: none;
  }

body
  {
    margin: 0px;
  }

header
  {
    background-color: black;
  }

nav
  {
    display: flex;
    background-color: aliceblue;
  }

nav a
  {
    color: rgb(139, 50, 255);
    text-decoration: none;
    padding: 15px 20px;
  }

section
  {
    text-align: center;
    padding-top: 40px;
    height: 100vh;
  }

section:nth-child(even)
  {
    background-color: skyblue;
  }

img
  {
    padding: 0px 20px;
  }

h2
  {
    padding-bottom: 40px;
  }

footer
  {
    overflow: hidden;
  }

footer a
  {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px 20px;
    float: left;
  }

.copyright
  {
    float: right;
  }

.banner
  {
    background-image: url(../Personal/AsymmetricGames.gif);
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 40%;
    background-attachment: fixed;
  }

.flex-align-right
  {
    margin-left: auto;
  }

.menu-btn:hover
  {
    background-color: azure;
    color: black;
  }

section h2 span
  {
    background: linear-gradient(to right, #91f4f4, #80e6ba);
    padding: 10px 55px;
    border-radius: 20px;
    color: rebeccapurple;
  }

.carousel-cell 
  {
    width: 66%;
    margin-right: 10px;
    border-radius: 5px;
  }

.carousel-cell video
  {
    max-width: 100%;
  }

.iframe-container 
  {
    overflow: hidden;
    position: relative;
    width: 100%;
  } 
  
.iframe-container iframe 
  {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }

@media screen and (max-width: 700px)
  {
    nav
      {
        flex-direction: column;
        padding: 10px 0px;
      }
    .flex-align-right
      {
        margin-left: 0;
      }
  }